*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section{
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.blog{
  padding: 20px;
  background-image: url("../img/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}